body {
  color: #2e8b57;
  background-color: rgb(22, 22, 22);
}

.btn-primary {
  color: white;
  background-color: #2e8b57 !important;
  border-color: #2e8b57 !important;
  background-color: #2e8b57;
}

.wh1 {
  height: 1vw;
  width: 1vw;
}

.wh2 {
  height: 2vw;
  width: 2vw;
}

.h3 {
  height: 3vw;
}
